body {
  font-family: 'Helvetica Neue', sans-serif;
  color: black;
  background: white;
  -ms-transform: scale(0.8); /* IE 9 */
  -webkit-transform: scale(0.8); /* Chrome, Safari, Opera */
  transform: scale(0.8);
  margin: 10px;
}

a:link {
  color: #05d;
  text-decoration: none
}

a:visited {
  color: #7af;
  text-decoration: none
}
