a:link {
  color: #05d;
  text-decoration: none
}

a:visited {
  color: #7af;
  text-decoration: none
}
#sort-label{
  position: absolute;
  top: 5px;
  right: 30px;
}

.bar{
    fill: steelblue;
  }

  .bar:hover{
    fill: brown;
  }

	.axis {
	  font: 10px sans-serif;
	}

	.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}

	label {
  position: absolute;
  top: 10px;
  right: 10px;
}
		
