#title {
}

#map {
}

.menubar {
  position: absolute;
  top: 0;
  height: 200px;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, #eee, #ccc);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#title{
	margin:4px 10px 4px 10px;
	padding: 20px 30px 0px 30px;
	font-weight: bold;
	font-size: 120%;
	color:#2779aa;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.info-button {
	margin: 0 0 1px 0;
	padding: 0 0 0 0;
	height:23px;
	width:23px;
	border-radius: 50%;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

td {
	vertical-align: middle;
	padding: 10px;
	background-color: lightblue;
	font-size: 8pt;
	font-weight: bold;
	cursor: pointer;
}

.selected {
	background-color: darkblue;
	color: white;
}

.map {
  position: absolute;
  left: 0px;
  top: 32px;
  right: 0;
  bottom: 0px;
  background: #fff;
  z-index: 0;
}

.navigation {
  position: absolute;
  left: 0;
  top: 35px;
  right: 0;
 /* bottom: 0;*/
  width: 280px;
  background: #eee;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 1;
}

.collapsed-navigation {
	position: absolute;
  left: 0;
  top: 35px;
  right: 0;
  width: 280px;
  /*height: 30px;*/
  background-color: rgb(0,0,0,1);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  visibility: hidden;
	z-index: 1;
}

#info-tab {
	position:absolute;
	top:50px;
	padding-top:34px;
	right:20px;
	height:100%;
	width:30px;
	display:inline;
	z-index: 1000;
}

.info-button {
	margin: 0 0 1px 0;
	padding: 0 0 0 0;
	height: 23px;
	width: 23px;
	border-radius: 50%;
}

.slider-container {
	position: absolute;
	width: 800px;
	height: 50px;
	bottom: 50px;
	left: 300px;
	z-index: 0;
}

.ui-slider-tick-mark {
	display:inline-block;
	width:2px;
	background:black;
	height:16px;
	position:absolute;
	top:-4px;
}
